/* ==================== Definição da Font do Site ==================== */
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
}
/* ==================== Fim da Definição da Font do Site ==================== */

:root {
    --white: #FFFFFF;
    --roxo: #4642DD;
    --cean: #32A2FB;
    --dark: #23314B;
    --text: #EEEEF3;
}

/* ==================== Reset da Estilização Padrão ==================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}
/* ==================== Fim do Reset da Estilização Padrão ==================== */

/* ==================== Estilização Geral ==================== */
body {
    padding: 1rem 4rem;
}
/* ==================== Fim da Estilização Geral ==================== */

/* ==================== Estilização do Cabeçalho do Site ==================== */
header {
    display: flex;
    font-size: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header #navigation {
    gap: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header #navigation #navlist ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

header #navigation li, a {
    text-decoration: none;
    list-style: none;
}

header img {
    width: 200px;
    height: 100px;
}

header #button {
    display: flex;
    gap: 1rem;
}

header #button button {
    border: none;
    padding: 0.6rem;
    font-size: 1rem;
}

header #button #btn1 {
    color: var(--roxo);
    font-weight: 600;
    transition: 0.3s ease-in-out;
    background-color: var(--white);
}

header #button #btn1:hover {
    color: var(--text);
    background-color: var(--roxo);
}

header #button #btn2 {
    color: var(--white);
    font-weight: 600;
    transition: 0.3s ease-in-out;
    background-color: var(--roxo);
}
/* ==================== Fim da Estilização do Cabeçalho do Site ==================== */