/* ==================== Definição da Font do Site ==================== */
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
}
/* ==================== Fim da Definição da Font do Site ==================== */

:root {
    --body: #F9F8FD;
    --white: #FFFFFF;
    --roxo: #4642DD;
    --cean: #32A2FB;
    --dark: #23314B;
    --action-blue: #0056D2;
    --success-green: #00A86B;
    --accent-yellow: #FFD700;
    --deep-black: #1A1A1A;
    --blue-gray: #64748B;
    --light-border: #E2E8F0;
    --off-white: #F8FAFC;
}

/* ==================== Reset da Estilização Padrão ==================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}
/* ==================== Fim do Reset da Estilização Padrão ==================== */

/* ==================== Estilização Geral ==================== */
body {
    padding: 1rem 4rem;
    background-color: var(--body);
}

h1, h2 {
    color: var(--deep-black);
}

p, a {
    color: var(--blue-gray);
}
/* ==================== Fim da Estilização Geral ==================== */

/* ==================== Estilização do Cabeçalho do Site ==================== */
header {
    display: flex;
    font-size: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header #navigation {
    gap: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header #navigation #navlist ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

header #navigation li, a {
    text-decoration: none;
    list-style: none;
    transition: 0.4s ease-in-out;
}

header #navigation li a:hover {
    color: var(--roxo);
    font-size: 1.2rem;
}

header img {
    width: 200px;
    height: 100px;
}

header #button {
    display: flex;
    gap: 1rem;
}

header #button button {
    border: none;
    padding: 0.6rem;
    font-size: 1rem;
}

header #button #btn1 {
    color: var(--roxo);
    font-weight: 600;
    transition: 0.3s ease-in-out;
    background-color: var(--white);
}

header #button #btn1:hover {
    color: var(--off-white);
    background-color: var(--roxo);
}

header #button #btn2 {
    color: var(--off-white);
    font-weight: 600;
    transition: 0.3s ease-in-out;
    background-color: var(--roxo);
}

header #button #btn2:hover {
    color: var(--roxo);
    background-color: var(--off-white);
}
/* ==================== Fim da Estilização do Cabeçalho do Site ==================== */